@model  Common.IPagedList<IplusOAEntity.VolunteerEntity>
@using MvcContrib.UI.Grid
@using MvcContrib.Pagination;
@using MvcContrib.UI.Pager;
@using Common;

<script type="text/javascript">

    function deleteVol(id) {

        var url = '@Url.Action("Delete")' + '?id=' + id;
        deleteMethod(id, "Delete");
        //showAjaxResult(url, "删除用户中......", 600, 400);
    }


</script>

<div class="main_title">
    志愿者列表
</div>
<div class="blank5">
</div>
<div class="button_row">
    <a class="button" href="@Url.Action("Add")">新增</a>
    @*<a class="button" href="javascript: del()">删除</a>*@
</div>
<div class="blank5">
</div>
<div class="grid_box">
    <div class="grid_top">
    </div>
    @Html.Grid(Model).Columns(column =>
                                  {
                                      column.CheckBox(x => x.Id);
                                      column.For(x => x.Id).Named("编号").HeaderAttributes(style => "width:50px;align:center;");
                                      column.For(x => x.CardType).Named("证件类型");
                                      column.For(x => x.CardType).Named("证件类型");
                                      column.For(x => x.Address).Named("地址");
                                      column.For(x => x.CardNum).Named("证件号");
                                      column.For(x => x.EMail).Named("邮箱");
                                      column.For(x => x.Phone).Named("手机号");
                                      column.For(x => x.QQ).Named("QQ号");
                                      column.For(x => x.RealName).Named("姓名"); 
                                      column.For(x => x.VID).Named("自愿者编号");
                                    
                                      column.Buttons(btns => btns.Add(x => Html.ActionLink("编辑", "Edit", new { id = x.Id }))
                                                                 .Add(x => Html.ActionLink("查看", "View", new { id = x.Id }))
                                                                 .Add(x => Html.ScriptLink("删除", "deleteVol({0})".FormatWith(x.Id)))
                                                                 );
                                  }).Complex(ViewData)
    <div class="grid_foot">
    </div>
</div>
<div class="blank5">
</div>
@Html.Pager(Model)