@model  IPagedList<IplusOAEntity.ChangeGoods>
@using MvcContrib.UI.Grid
@using MvcContrib.Pagination;
@using MvcContrib.UI.Pager;
@using Common;

<script type="text/javascript">

    function del(id) {

        var url = '@Url.Action("Delete")' + '?id=' + id;
        deleteMethod(id, "Delete");
        //showAjaxResult(url, "删除用户中......", 600, 400);
    }




    function submitForm() {
    
        $('#indexFrom').submit();
    }





</script>
<style>
    .combo {
        vertical-align: bottom;
    }
</style>
<div id="button-bar">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" title="新增" href="@Url.Action("Add")">新增</a>
</div>
<div class="grid_box">
    <div class="grid_top">
    </div>
    @Html.Grid(Model).Columns(column =>
                                  {
                                      column.For(x => x.Id).Named("商品Id");
                                      column.For(x => x.Name).Named("名称");
                                      column.For(x => x.Score).Named("所需积分");
                                      column.For(x => x.Count).Named("库存");
                                      column.For(x => x.Barcode).Named("条形码");
                                      column.For(x => x.Desc).Named("描述");
                                      column.For(x => x.AddTime.ToString("yyyy-MM-dd HH:ss")).Named("发布时间");
                             
                                      column.Buttons(btns => btns
                                          .Add(x => Html.ActionLink("查看", "view", new { id = x.Id }))
                                          .Add(x => Html.ScriptLink("删除", "del({0})".FormatWith(x.Id)))
                                  
                                                                 );
                                  }).Complex(ViewData)
    <div class="grid_foot">
    </div>
</div>

@Html.Pager(Model)
