@using Common;
 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title> ZTREE DEMO </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    @Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")
    @Html.IncludeCSS("~/Content/Css/demo.css")
    @Html.IncludeScript("~/Content/plug-in/ztree/js/jquery-1.4.4.min.js")
    @Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
    <style type="text/css">
        .ztree li a.level0 {
            width: 200px;
            height: 20px;
            text-align: center;
            display: block;
            background-color: #0B61A4;
            border: 1px silver solid;
        }

            .ztree li a.level0.cur {
                background-color: #66A3D2;
            }

            .ztree li a.level0 span {
                display: block;
                color: white;
                padding-top: 3px;
                font-size: 12px;
                font-weight: bold;
                word-spacing: 2px;
            }

                .ztree li a.level0 span.button {
                    float: right;
                    margin-left: 10px;
                    visibility: visible;
                    display: none;
                }

        .ztree li span.button.switch.level0 {
            display: none;
        }
    </style>

    <script type="text/javascript">

    var zTree;
    var demoIframe;

    var setting = {
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: ""
            }
        },
        callback: {
            beforeClick:function(treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj("tree");
                if (treeNode.isParent) {
                    zTree.expandNode(treeNode);
                    return false;
                } else {
                    //demoIframe.attr("src",treeNode.file + ".html");

                    return true;
                }
            }
        }
    };

      
    var zNodes =@(Html.Raw(ViewData["menuJsonDate"].ToString()));
    var zNodes2 =decodeURIComponent(  zNodes);

        $(document).ready(function () {
            var t = $("#tree");
            t = $.fn.zTree.init(t, setting, zNodes);
            var zTree = $.fn.zTree.getZTreeObj("tree");
            zTree.selectNode(zTree.getNodeByParam("id", 101));

        });

        //$(document).ready(function(){
        //    $.fn.zTree.init($("#tree"), setting, zNodes);
        //    zTree_Menu = $.fn.zTree.getZTreeObj("tree");
        //    curMenu = zTree_Menu.getNodes()[0].children[0].children[0];
        //    zTree_Menu.selectNode(curMenu);
        //    var a = $("#" + zTree_Menu.getNodes()[0].tId + "_a");
        //    a.addClass("cur");
        //});

    </script>
</head>
<body>
    <div id="demo_menu" class="demo_menu left">
        <ul id="tree" class="ztree" style="width:auto; overflow:auto;"></ul>
    </div>
</body>
</html>
