
*
{
    margin: 0;
    padding: 0;
}

body
{
    position: relative;
    height: 100%;
    background: #fff url('img/loginbg.png') left top repeat-x;
    font-family: 'microsoft yahei ui' , 'microsoft yahei' , 'simhei' ,Arial,sans-serif;
}

img
{
    border: 0;
}

#container .logoFont {
    color:#FFFF00;
   
    font-weight:bolder;
    font-family:KaiTi;
}
.fontsize50px {
 font-size:60px;
}
.fontsize20px {
 font-size:20px;
}

.center {
    text-align:center;
    vertical-align:middle;   
    margin-top:130px;
}

#box
{
    clear: both;
    float: none;
    width: 50%;
    margin: 30px auto 0;
    margin-top:100px;
   
}

p.main label
{
    float: left;
    padding: 5px;
    display: inline;
    margin-left: 40px;
    font-size: 13px;
    color: #000;
    margin-right: 10px;
}

#box p
{
    clear: both;
    float: none;
    width: 100%;
}

p.main INPUT
{
    background: url('img/input.png') 0 0 repeat-x;
    border: 1px solid #d3d3d3;
    color: #555;
    padding: 5px;
    float: left;
    width: 200px;
}
p.main input.error {
    border-color: #b94a48;
}
input.login
{
    float: right;
    padding: 3px 10px 3px 10px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #555;
    background: url('img/rep1.png') 50% 50% repeat-x;
    display: inline;
    margin-right: 73px;
    cursor: pointer;
}

span
{
    font-size: 13px;
    color: #666;
}

.space
{
    padding-top: 15px;
}
.errors
{
    color: #b94a48;
    font-size: 14px;
    float: right;
    margin-right: 22px;
}
.errors ul
{
    list-style: none;
}
span input
{
    margin-left: 102px;
    margin-right: 5px;
    border: 1px solid #111;
    background: #444;
    color: #fff;
}

.foot {
    color: red;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}