<?xml version="1.0" encoding="utf-8"?>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />

    <add key="FtpServerHttpUrl" value="http://localhost:8088/" />
    <add key="FtpServer" value="192.168.1.106" />
    <add key="FtpUser" value="weihongyou" />
    <add key="FtpPassWord" value="123456" />
  </appSettings>
