
@model  Common.IPagedList<IplusOAEntity.RoleEntity>
@using MvcContrib.UI.Grid
@using MvcContrib.Pagination;
@using MvcContrib.UI.Pager;
@using Common;

<script type="text/javascript">

        function deleteRole(id) {

            var url = '@Url.Action("Delete")' + '?id=' + id;
            deleteMethod(id, "Delete");
           //showAjaxResult(url, "删除用户中......", 600, 400);
        }
</script>



<div class="button_row">
    <a class="button" href="@Url.Action("Add")">新增</a>
    <div class="toolbar">
        <a data-options="iconCls:'icon-add'" class="easyui-linkbutton l-btn" href="#" id="add"><span class="l-btn-left"><span class="l-btn-text icon-add" style="padding-left: 20px;">新增</span></span></a>

    </div>
</div>
<div class="blank5">
</div>
<div class="grid_box">
    <div class="grid_top">
    </div>
    @Html.Grid(Model).Columns(column =>
                                  {
                                      column.CheckBox(x => x.Id);
                                      column.For(x => x.Id).Named("编号").HeaderAttributes(style => "width:50px;align:center;");
                                      column.For(x => x.Name).Named("名称");
                                      column.For(x => x.IsEffect ? "有效" : "无效").Named("状态").SortColumnName("IsEffect");
                                      column.Buttons(btns => btns.Add(x => Html.ActionLink("编辑", "Edit", new { id = x.Id }))
                                                                 .Add(x => Html.ScriptLink("删除", "deleteRole({0})".FormatWith(x.Id)))
                                                                 );
                                  }).Complex(ViewData)
    <div class="grid_foot">
    </div>
</div>
<div class="blank5">
</div>
@Html.Pager(Model)