<style>
    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .wid80 {
        width: 60%;
        height: 748px;
    }

    .wid20 {
        width: 39%;
        height: 1000px;
    }

    .textLeft {
        text-align: left;
    }

    .textCenter {
        text-align: center;
    }

    .dpshow {
        height: 75px;
        width: 100%;
        font-family: 'Microsoft YaHei';
        font-size: 60px;
    }

    .yahei {
        font-family: 'Microsoft YaHei';
    }
</style>
<script   type="text/javascript">

    $(function () {
        

        Date.prototype.format = function (format) {
            var o = {
                "M+": this.getMonth() + 1, //month
                "d+": this.getDate(), //day
                "h+": this.getHours(), //hour
                "m+": this.getMinutes(), //minute
                "s+": this.getSeconds(), //second
                "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
                "S": this.getMilliseconds() //millisecond
            }
            if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o) if (new RegExp("(" + k + ")").test(format))
                format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                ("00" + o[k]).substr(("" + o[k]).length));
            return format;
        }

        ShowData();
        setInterval(ShowData, 5*60*1000)
        function ShowData() {

            $.ajax({
                url: ROOT + MODULE_NAME + "/AjaxCount",
                data: { id: "1" },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    BindShowCount(data);
                }
            });
        }
        function BindShowCount(item) {
            var tHtml = " <thead>  <tr> <td colspan=\"2\"></td> <td>累计</td> <td>实时</td> </tr> </thead>";
           
            //item[0].Name

            for (var i = 0; i < item.length; i++) {
                tHtml += "<tr><td colspan=\"2\" class=\"textLeft\">" + item[i].Name + "</td> <td>" + item[i].old + "</td><td>" + item[i].now + "</td> </tr>";
                if (item[i].Chlids) {
                    for (var j = 0; j < item[i].Chlids.length; j++) {
                        tHtml += "<tr> <td colspan=\"2\">" + item[i].Chlids[j].Name + "</td><td>" + item[i].Chlids[j].old + "</td><td>" + item[i].Chlids[j].now + "</td> </tr>";
                    }
                }
               
            }

            if (tHtml.length > 10) {
                $("#showForm").html(tHtml);
            }

        }


        ShowSerVol();
        setInterval(ShowSerVol, 5 * 60 * 1000)
        function ShowSerVol() {

            $.ajax({
                url: ROOT + MODULE_NAME + "/SerVolShow",
                data: { id: "1" },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    BindSerVol(data);
                }
            });
        }

        function BindSerVol(data) {
            if (data.ser) {
                var serHtml = "";
                for (var i = 0; i < data.ser.length; i++) {
                    //serHtml += "<li>服务时间:" + data.ser[i].PubTimeString + "-" + data.ser[i].EndTimeString + " 项目：" + data.ser[i].Context + "</li>";
                    serHtml += "<li>服务时间:" + data.ser[i].PubTimeString+ " 项目：" + data.ser[i].Context + "</li>";
                }
                if (serHtml.length > 10) {
                    $("#SocSer_ul").html(serHtml);
                }
            }

            if (data.vol) {
                var volHtml = "";
                for (var i = 0; i < data.vol.length; i++) {
                    volHtml += "<li>服务时间:" + data.vol[i].BeginTime + " 姓名：" + data.vol[i].RealName + " 项目：" + data.vol[i].Context + "</li>";
                }
                if (volHtml.length>10) {
                    $("#volSer_ul").html(volHtml);
                }
               
            }


        }
        
        setInterval(TimeNow, 1000);
        function TimeNow()
        {

            $("#spTimeNow").text((new Date()).format("yyyy-MM-dd hh:mm:ss"));
        }
    });
</script>

<div class="dpshow textCenter "><span > 社区1+1-----实时监控大屏 </span>  <span class="right" id="spTimeNow"></span> </div>
<div class="left wid80 textCenter">
    <table class="form yahei" id="showForm" style=" font-size: 30px;">
 
      
    </table>
</div>
<div class="right wid20" style=" font-family: 'Microsoft YaHei'; font-size: 20px; border: 1px solid #ccc; ">
    <div>
        <span>真正进行社区服务:</span><br />
        <div id="SocSer" style=" height:600px; overflow:auto;">
            <ul id="SocSer_ul">
                @*<li>sfa萨芬是的方式sf</li>
                <li>sfa所发生的sf</li>
                <li>sfa萨芬是sf</li>*@

            </ul>
        </div>
    </div>
    <div>
        <span>真正进行志愿者服务:</span><br />
        <div id="volSer" style=" height:300px;">

            <ul id="volSer_ul">
                @*<li>sfa萨芬是的方式sf</li>
                <li>sfa所发生的sf</li>*@
            </ul>
        </div>
    </div>
</div>