<style>
    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .wid80 {
        width: 60%;
        height: 748px;
    }

    .wid20 {
        width: 40%;
        height: 748px;
    }

    .textLeft {
        text-align: left;
    }

    .textCenter {
        text-align: center;
    }

    .dpshow {
        height: 75px;
        width: 100%;
        font-family: 'Microsoft YaHei';
        font-size: 60px;
    }

    .yahei {
        font-family: 'Microsoft YaHei';
    }
</style>
<div class="dpshow textCenter "><span > 社区1+1-----实时监控大屏 </span>  <span class="right">@DateTime.Now.ToString("yyyy-MM-dd hh:ss")</span> </div>
<div class="left wid80 textCenter">
    <table class="form yahei" style=" font-size: 40px;">
        <thead>
            <tr>

                <td colspan="2"></td>
                <td>累计</td>
                <td>实时</td>
            </tr>
        </thead>
        <tr>
            <td colspan="2" class="textLeft">辖区社会组织总计</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>
            <td colspan="2" class="textLeft">辖区社会服务总计</td>


            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">法律服务</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">医疗服务</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">文化娱乐</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">居家养老</td>

            <td>999999</td>
            <td>99</td>
        </tr>

        <tr>
            <td colspan="2" class="textLeft">辖区服务志愿者总计</td>
            <td>999999</td>
            <td>99</td>
        </tr>
     
        <tr>

            <td colspan="2">法律服务</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">医疗服务</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">文化娱乐</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">居家养老</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>
            <td colspan="2" class="textLeft">辖区注册志愿者总计</td>


            <td>999999    </td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">法律服务</td>

            <td>999999  </td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">医疗服务</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">文化娱乐</td>

            <td>999999</td>
            <td>99</td>
        </tr>
        <tr>

            <td colspan="2">居家养老</td>

            <td>999999</td>
            <td>99</td>
        </tr>
    </table>
</div>
<div class="right wid20" style=" font-family: 'Microsoft YaHei'; font-size: 20px; ">

    1. 实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电
    阿福闪电闪电
    <br /> 2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电
    阿福闪电闪电
    <br /> 2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电
    阿福闪电闪电
    2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电
    2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电
    2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电\<br />
    阿福闪电闪电
    2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电\<br />
    阿福闪电闪电
    2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电\<br />
    阿福闪电闪电
    2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电\<br />
    阿福闪电闪电
    2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电\<br />
    阿福闪电闪电
    2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电\<br />
    阿福闪电闪电
    2.实得分十大闪电富士达富士达闪电闪电闪电闪电闪电闪电闪电闪电
    阿福闪电闪电
    阿福闪电闪电
    阿福闪电闪电
</div>