@using Common
@model IplusOAEntity.ReturnModel
 @{
   Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="windows-Target" content="_parent">
    <title>贵阳市社区公益平台</title>
    @Html.IncludeCSS("~/Content/Css/login.css")
    @Html.IncludeScript("~/Scripts/jquery-1.10.2.min.js")
 
    <script type="text/javascript">
        $(function () {
            $("form input:first").focus();
            $('form').validate({
                onKeyup: true,
                eachValidField: function () {
                    $(this).removeClass('error').addClass('success');
                },
                eachInvalidField: function () {
                    $(this).removeClass('success').addClass('error');
                },
                invalid: function () {
                    $("#errors").empty().html("用户名和密码不能为空！");
                }
            });
        });
    </script>
</head>
<body>
    <div id="container">
        <div class="logoFont fontsize50px center">
            <div>
                @*社区1+1社会服务“云”平台*@
                社区1+1--社区服务云
            </div>


            <div><span class="logoFont fontsize50px">综合运营后台管理系统<span class="logoFont fontsize20px">(Ver1.0)</span> </span></div>

        </div>
     
        <div id="box">
            @using (Html.BeginForm())
            {
                <div >
                    <table class="main" style="  margin-left:auto;margin-right:auto;text-align:center;">
                        <tr>
                            <td> 用户名</td>
                            <td><input type="text" id="username" name="username" tabindex="1" data-required=data-required /></td>
                        </tr>
                        <tr>
                            <td colspan="2"> &nbsp;</td>
                        </tr>
                        <tr>
                            <td>密码</td>
                            <td><input type="password" id="password" name="password" tabindex="2" data-required=data-required /></td>
                        </tr>
                        <tr >
                            @*<td>手机号</td>
                            <td><input type="text" id="phone" name="phone" tabindex="2" data-required=data-required />
                            <br />
                                <input type="button" id="btnphone" value="获取验证码" onclick="SendLoginSMS(this)" />
                            </td>*@
                            <td> </td>
                            <td colspan="1"><input type="button" id="btnphone" value="获取手机短信登陆验证码" onclick="SendLoginSMS(this)" /></td>
                        </tr>
                        <tr>
                            <td>验证码</td>
                            <td><input type="text" name="code" tabindex="2" data-required=data-required /></td>
                        </tr>
                        <tr>
                            <td colspan="2"> &nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="登录" class="login" tabindex="3" /></td>
                        </tr>
                    </table>
                </div>

            }
        </div>
        <div class="center foot">
            技术支持：贵阳市和谐社区公益信息技术服务中心
        </div>
    </div>

    <script type="text/javascript">

    
        function SendLoginSMS(e) {

            var userName = $("#username").val();
            var passWord = $("#password").val();

            var url = '@Url.Action("SMSLoginV2")' + '?userName=' + userName + "&passWord=" + passWord;
            url = encodeURI(url);
            $.ajax({
                url: url,
                type: 'POST',
                dataType: "json",
                success: function (obj) {
                    if (obj.State == 1) {
                        time(e);
                        alert("验证码发送成功");

                    } else {
                        alert("登陆失败,失败原因:"+obj.Msg);
                    }
                }
            });
        }

        var wait = 60;
        function time(o) {
            if (wait == 0) {
                o.removeAttribute("disabled");
                o.value = "免费获取验证码";
                wait = 60;
            } else {
                o.setAttribute("disabled", true);
                o.value = "重新发送(" + wait + ")";
                wait--;
                setTimeout(function () {
                    time(o)
                },
                1000)
            }
        }

        @if (Model !=null&& !string.IsNullOrEmpty(Model.Msg))
        {
            @Html.Raw("alert('登陆失败:" + Model.Msg + "')");
        }
    </script>
</body>
</html>
